/* cart */
.cart_drawer{
    position: absolute;
    top: 8%;
    right: 0;
    width: 40%;
    min-height: 92vh;
    z-index: 2;
    padding: 3%;
    background: var(--white);
}

.cart_items{
    width: 100%;
}

.cart_item{
    border-bottom: 1px solid var(--black);
    padding: 3%;
}

.cart_item_details{
    font-family: Crimson Text;
    font-size: 1.4rem;
    padding: 3%;
    width: 100%;
}

.cart_item_image_container{
    width: 50%;
    height: 30%;
}

.cart_item_img{
    width: 100%;
    height: 100%;
}

.close_btn{
    cursor: pointer;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background: none;
}

.checkout{
    width: 100%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 2rem;
}

.total{
    margin: 5% 0;
}

.checkout_btn{
    background: var(--black);
    color: var(--white);
    padding: 2%;
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 500;
    cursor: pointer; 
}