*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --canvas: #F7EFE7;
  --white : #FFF;
  --black : #000;
  --green : #003941;
}

body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--canvas);
  overflow-x: hidden;
}

.flex_center_spaceBetween{    
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_center_spaceArround{    
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_spaceBetween{    
  display: flex;
  justify-content: space-between;
}

.flex_column{  
  flex-direction: column;
}

.flex_spaceArround{
  display: flex;
  justify-content: space-around;
}