*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --canvas: #F7EFE7;
  --white : #FFF;
  --black : #000;
  --green : #003941;
}

body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--canvas);
  overflow-x: hidden;
}